<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/stayle.css">
    <link rel="stylesheet" href="css/style.css">

    <title>AutoMax</title>
</head>

<body>
    <!--navbar-->
    <div class="topo">
      <img src="img/BMW_logo_(gray).svg.png" alt="" width="10%">  
    </div>
     <nav>
            <a href="/">Inicio</a>
            <a href="/login">Login</a>
            <a href="/dados">Clientes</a>
        </nav> 
    
    
    
    {{{body}}}


    <!--rodape-->
    <footer class="rodape">
        <p>Este é o rodapé.</p>
    </footer>


    <script src="js/script"></script>
    
</body>

</html>