<div class="inicio">
    <h1>Bem vindo ao AutoMax</h1>
</div>

<div class="flex">
    <div class="texto">
        <h1>MELHORES OFERTAS</h1>
        <h3>Melhores preços</h3>
        <p>Bem-vindo(a) ao nosso site de carros! Estamos muito felizes em ajudar você a encontrar o veículo dos seus sonhos. Para começar, pedimos que preencha o formulário de cadastro</p>
    </div>
        <img src="img/1-9.jpg" alt="" width="400px">
</div>

