/*Formulario*/
.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    padding-left: 40%;
    border-radius: 5px;
    text-align: center;
}

.form-container input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.form-container button {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    
    
}
